<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Tipografía Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!--Librería Fontawesome-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <!--Estilos propios-->
    <link href="/css/styles.css" rel="stylesheet">
    <!--Colores-->
    <link href="/css/colores.css" rel="stylesheet">

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg">
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos... marcas...">
                        <button> <i class="fas fa-search"> </i> </button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class=" fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <div class="burguer-container">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta <i class="fas fa-id-card"></i></li>
                <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
                <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
            </ul>

        </div>

    </header>

    <body>

        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
            <main class="main">
                <div class="login">
                    <form action="/" method="get">

                        <div class="usuario1">
                            <input type="text" placeholder="Nombre de usuario" name="usuario"> </input>
                        </div>

                        <div class="password1">
                            <input type="pass" placeholder="Contraseña"> </input>
                        </div>

                        
                        
                            <button class="enviar1" type="">Ingresar</button>
                       

                </div>


                </form>
            </main>

    </body>

</html>